<!DOCTYPE html>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">

    <hr />
    <article>

      <h3>Volunteering at the Society of Women Engineers Career Fair</h3>
      <h6>2/6/2013</h6>
      <div class="row">
        <div class="large-8 columns">
          <p>Needing volunteers to assist companies at the Society of Women Engineers Career Fair, E-Sports Initiative was asked to send members and we gladly obliged. The SWE Career Fair is a yearly event hosted by The Ohio State University at its Student Union to allow promising students in the fields of Engineering and Computer Science to get in touch with professionals from relevant fields. We were assigned the first shift to help representatives with parking and setting up their booths. This involved answering any questions in regards to parking and booth space, in addition to helping representatives transport heavy equipment into the building. This was a great experience for ESI, as we got the chance to talk to a lot of different representatives from various engineering and computer science focused companies on a very personal level. Hopefully, ESI will have to opportunity to lend a helping hand in the future as well.</p>
        </div>
        <div class="large-4 columns">
          <%=image_tag('SWE logo.png')%>
        </div>
      </div>

    </article>

    <hr />

    <h3>Clean Up Columbus</h3>
    <h6>12/2/2012</h6>
    <div class="row">
      <div class="large-8 columns">
        <p>Throughout the academic year, OSU’s Undergraduate Student Government hosts multiple Clean Up Columbus events. E-Sports Initiative sends its members to participate in this collaborative event with other student organizations to help clean the off-campus community. ESI members spend two hours picking up litter off of the streets. We look forward to participating in each event over the future years in hopes of continuing towards a clean campus, clean community, and clean Columbus.</p>
      </div>
      <div class="large-4 columns">
        <%=image_tag('Clean up Columbus.png')%>
      </div>
    </div>

    </article>

    <hr />

  </div>

  <!-- End Main Content -->


  <!-- Sidebar -->

  <aside class="large-3 columns">

    <h5>Categories</h5>
    <ul class="side-nav">
      <li><%= link_to "News", news_path%></li>
      <li><%= link_to "Charity", charity_path%></li>
      <li><%= link_to "Events", events_path%></li>
    </ul>

  </aside>

  <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->