<!DOCTYPE html>
<div class="row">

  <!-- Main Blog Content -->



  <div class="large-9 columns" role="content">

      <article>
      
      <h3>Extralife Fundraising Event</h3>
      <h6>11/2/2013</h6>
      <div class="row">
      <div class="large-9 columns">
          <p>E-Sports Initiative in collaboration with BuckeyeThon, BuckeyeLAN, and The Gamer's Advocate is hosting a Charity Gaming Marathon for Extra Life on November 2nd at the Student Union. We will have rooms set up for the top 100 donators to come have fun playing games, participating in giveaways, and raising money for a good cause. 
          </p>
          <p>We are also extremely happy to announce that we will be raffling off a PS4 console to all donators, whether you come out to the event or not!
          </p>
          <p>For every 10$ you donate to our cause, you will receive one raffle ticket towards the PS4. All money raised goes to Nationwide Children's Hospital. </p>
          <p>To find more information on our cause and how to enter, click <a href= "http://www.extra-life.org/index.cfm?fuseaction=donorDrive.team&teamID=10646&referrer=cmr%3AE52AB3408159">here!</a></p>
      </div>
      <div class="large-3 columns">
        <%=image_tag('extralifelogo.jpg')%>
      </div>
    </div>
    </article>

    <hr/> 

    <hr />
    <article>
      
      <h3>ESI Fall 2013 Starcraft 2 Tournament Conclusion</h3>
      <h6>Author: Amar Karamali</h6>
      <div class="row">
      <div class="large-8 columns">
          <p>After the success of the first Starcraft 2 tournament, bringing in big names such as ROOTFitzy and Millenium’s goswser, ESI held its second Starcraft 2 tournament on September 14, 2013. The event took place in the colorful Cartoon Room of the Ohio Union, and was quickly transformed from a meeting room into a fully functional LAN station complete with a tournament stream on one projector and a Dreamhack: Bucharest stream on the other. </p>
      </div>
      <div class="large-4 columns">
        <%=image_tag('SC2Aut2013_1.png')%>
      </div>
      <div class="large-12 columns">
        <p>Twenty players showed up with all their gear in order to compete for the first place prize, a Logitech G500 mouse and the choice between the Logitech G35 headset and G510 Keyboard. The event brought in a wide range of contestants, from Bronze league all the way up to the top Grandmaster league. <a href=" http://www.sc2ranks.com/character/us/3723054/Baldwin/hots/1v1">[EtnD] Baldwin</a> was able to make it out to the event, making the competitors nervous as they realized they had the chance to match up against one of the top 200 players in the United States. Previous grandmaster <a href="http://www.sc2ranks.com/character/us/2466822/Schnitzel/hots/1v1">[SCA] Schnitzel</a> was also in attendance, making the competition fierce. </p>
        <p>As the event went on, Logitech water bottles and peripherals were raffled off as players enjoyed competitive games, NOS Active energy drinks, and freshly made popcorn. An unmentioned 2v2 tournament popped up, with Genesis and MaFfGeeK taking the first place prize of two Logitech water bottles.</p>
      </div>
      <div class="large-6 columns">
        <%=image_tag('SC2Aut2013_2.png')%>
      </div>
      <div class="large-6 columns">
        <p>The favored Baldwin made it to the finals of the winner’s bracket within the first couple hours, and watched as players attempted to battle through the losers bracket for a shot at the finals. Ohio State’s CSL team’s captain <a href="http://www.sc2ranks.com/character/us/1628893/Isaac/hots/1v1">Isaac </a>was able to claw his way out, beating the person who put him there in the first place. Isaac and Baldwin battled it out in the finals, starting their first best of three as everyone took a seat in the viewing area to watch. Casters [OptM] Kipi and [RaatZ]NoEscape, ESI’s Jacob Kipi and Amar Karamali respectively, provided commentary on the <a href="http://www.twitch.tv/esportsinitiative">official ESI stream</a> for local and online viewers as Isaac and Baldwin battled it out. </p>
      </div>
      <div class="large-6 columns">
        <p>The first best of three went to Isaac, impressing the audience with his insane micro against Baldwin. With both players pushing 300 actions per minute, ling baneling vs. ling baneling fights were exhilarating to watch. Isaac was able to win the first best of three, putting Baldwin on tilt as he entered the second best of three. Baldwin’s famous 9 pool opening was copied by Isaac, leading both players to do the same build and rely on mechanics and skill to pull out the win. Eventually Baldwin came out on top, beating Isaac in the last game possible 2-1. In the post-game interview, Baldwin expressed his excitement for his new Logitech G35 headset and provided insight onto his thought process for the finals. </p>
      </div>
      <div class="large-6 columns">
        <%=image_tag('SC2Aut2013_3.png')%>
      </div>
      <div class="large-12 columns">
      <p>Overall the tournament was a huge success and ESI was able to raise about 500 dollars in funds to be put towards its various charitable causes. We want to thank our sponsors, Logitech G series, and NOS Active for helping to bring this event to fruition.  Their sponsorship also enhanced the total experience of the event for our attendees.  We look forward to the next Starcraft event with excitement, and plan on continuing to improve size and quality of our events.</p>
    </div>
    </div>
    </article>

    <hr />
    <article>
      
      <h3>League of Legends Finals Viewing Party</h3>
      <h6>10/4/2013 - 10:00PM; Royer Activity Center on OSU campus</h6>
      <div class="row">
      <div class="large-9 columns">
          <p>Join ESI to watch the League of Legends finals! There will be food and giveaways! Visit the Facebook event page <a href="https://www.facebook.com/events/622769041078506/">here</a> for more info!
          </p>
      </div>
      <div class="large-3 columns">
        <%=image_tag('leagueFinals.jpg', :size=>"200x100")%>
      </div>
    </div>
    </article>

    <hr/> 
  <article>

      <h3>BuckeyeLoL 4</h3>
      <h6>Held: Ongoing</h6>
          <p>We at E-Sports Initiative are proud to announce our fourth League of Legends Tournament: BuckeyeLoL 4! Registration begins August 21st, and ends September 14th; you can find the facebook page for the registration <a href="https://www.facebook.com/events/203375486482171/">here</a>. There will be more details there about rules and registration on that page.</p>
          <p>If you were at our last LoL tournament you will see that we will be using a similar tournament format: we will be hosting online group stages to establish the top 6 teams that will go straight to the finals, while the remaining teams must fight their way up the losers bracket for the last 2 spots, leading to a live showdown for the top 8 teams at the Student Union on October 12th, where we will also be hosting a LAN party for all would like to attend, whether their game of choice is League of Legends or not.</p>
          <p>Whether you are interested in competitive play or not, we encourage you to come hang out at our LAN to have fun and chances to win something from the many swag giveaways we will be doing throughout the day - courtesy of Riot Games. </p>
          <p>Group stages will begin 9/12/13 and the in-person finals/LAN will be on 10/12/13, so clear your calendars!</p>
          <p>The registration event page can be found <a href="https://www.facebook.com/events/203375486482171/">here</a>.</p>
          <p>If you would like to register your team online, click on the paypal link below and then fill out the google doc under it: <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_xclick">
              <input type="hidden" name="business" value="esportsinitiative@gmail.com">
              <input type="hidden" name="lc" value="US">
              <input type="hidden" name="item_name" value="BuckeyeLoL IV">
              <input type="hidden" name="amount" value="50.00">
              <input type="hidden" name="currency_code" value="USD">
              <input type="hidden" name="button_subtype" value="services">
              <input type="hidden" name="no_note" value="0">
              <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
              <p><a href="https://docs.google.com/forms/d/1WVyNPDv-J9ldQEVHG5JdBYiFjFsdGvzquJM1Y79yTmg/viewform">Click here to finish registering your team!</a></p>
    </article>

  <hr />
    <article>
      <h3 class="expired">ESI Autumn 2013 Starcraft 2 Tournament</h3>
      <h6  class="expired">Held: September 30th, 2013</h6>
          <p>E-Sports Initiative will be hosting a StarCraft 2: Heart of the Swarm Tournament on Saturday, September 14th, at the Ohio Union inside the Cartoon Room. An online registration will be available soon and will run until Friday, September 13th at 6pm EST for $12. After this time you must show up in person between 9am and 11am on September 14th in the Cartoon Room and the fee will be $15. Spectators will be allowed in for a fee of $5. You can read the rules <%=link_to "here", scrules_path%></p>

    </article>


    <hr />

    <article>

      <h3 class="expired">Halo 4 Charity Tournament</h3>
      <h6 class="expired">Held: January 26, 2013</h6>
      <div class="row">
        <div class="large-6 columns">
          <p>E-Sports Initiative hosted its very first Halo 4 event in the Great Hall Meeting Room of the Ohio Union.  There was tough competition and free food and drink for everyone involved.  Attendees received more than $500 of sponsored funds through giveaways and as prizes.  The proceeds of the tournament went to Child’s Play in order to help their efforts in improving the lives of children in over 70 hospitals worldwide.</p>
        </div>
        <div class="large-6 columns">
          <%=image_tag('Halo4Tourney.jpg')%>
        </div>
      </div>

    </article>

    <hr />

    <article>

      <h3 class="expired">ESI Spring 2013 Starcraft 2 Tournament</h3>
      <h6 class="expired">Held: Marth 30th, 2013</h6>
      <div class="row">
        <div class="large-6 columns">
          <p>On March 30th, 2013, E-Sports Initiative hosted its
            first StarCraft 2 tournament with about 50 participating
            players along with another 50 spectators who came to
            support ESI and StarCraft 2.  Sponsors such as Razer,
            Major League Gaming (MLG), and iBuyPower also
            believed in our ability to create a high profile event
            and provided prizes which included a keyboard, headset,
            mouse, and a very high quality personal computer.
            <p>Due to the success of this tournament, E-Sports Initiative
        will definitely hold another StarCraft 2 Tournament during
        the Autumn Semester of 2013. </p>
          </p>
          </div>
        <div class = "large-6 columns">
          <%=image_tag('SC2.jpg')%>
        </div>
        </div>
      
    </article>

    <hr />

    <article>

      <h3 class="expired">League of Buckeye Legends III Finals and LAN</h3>
      <h6 class="expired">Held: October 27th, 2012</h6>

      <div class="row">
        <div class="large-6 columns">
      <p>After long month of online group stages, the top 8 teams were brought in to Royer Hall for the live in-person finals for ESI’s third League of Legends Tournament. In addition to the tournament finals, we also hosted a large LAN party in the room next door, welcoming all gamers to join us for a day of fun, games, and food. Throughout the day, over 150 gamers joined us either to game with us or watch their friends in the tournament. Games played in the LAN included League of Legends, Starcraft 2, Dota 2, Super Smash Brothers, and more.
      </p>
         </div>
        <div class="large-6 columns">
          <%=image_tag('LOLBL3.jpg')%>
        </div>
        </div>
      <p>We also held free raffle drawings a few times an hour to giveaway an assortment of goodies to attendees, courtesy of Gamestop, Valve, Gunnar Optiks, and Riot Games. In an unprecedented move, Riot Games gave us an almost excessive bounty of swag to give away to lucky attendees: 60 Soraka Bananas, 30 Teemo Hats, and 3 Blitzcrank Hoodies!
      </p>
    </article>
    <hr />

    <article>

      <h3 class="expired">Dota 2 Social</h3>
      <h6 class="expired">Held: November 17th, 2012</h6>
      <div class="row">
        <div class="large-6 columns">
          <p>To probe for interest, we hosted a Dota 2 social event for all enthusiasts and were pleasantly surprised when we were joined by more than 30 gamers! The night went by fast while we enjoyed ourselves in dota and many new friends were made.
            We were also able to have many giveaways, with everything culminating in a giveaway of a life-sized Portal Gun, courtesy of Valve.
          </p>
            </div>

         <div class="large-6 columns">
           <%=image_tag('DOTA2Social.jpg')%>
        </div>
      </div>
    </article>

    <hr />

    <article>

      <h3 class="expired">League of Buckeye Legends II Finals</h3>
      <h6 class="expired">Held: October 27th, 2012</h6>
      <div class="row">
        <div class="large-6 columns">

          <p>After a grueling series of online matches, the 40 teams registered into the tournament were cut down into a remaining 8 through a succession of round robin matches. On the day of the live event, the finalists that made it through the group stages met up in the Student Union to duke it out for first place in ESI’s second League of Legends Tournament. Many great matches were played throughout the day, having been streamed to a big screen for friends and fans in a viewing room. As per usual, attendees at the live event took part in a free raffle giveaway for a variety of Riot swag, including but not limited to Soraka Bananas and Teemo Hats.
          </p>
        </div>
        <div class="large-6 columns">
          <%=image_tag('LOLBL2.jpg')%>
        </div>
        </div>
      <p>However, at the end of the day, only one team can claim the title of champion. We would like to congratulate the team Kony 2012 for managing to do just that, having unexpectedly turned the tables on all odds and won all matches the finals despite being one of the lower seeds. They have each walked away with an extra 20$ in RP in their in-game pockets, in addition to the shiny exclusive skin only available to winners of tournaments – Triumphant Ryze.</p>
    </article>



    <hr />

    <article>

      <h3 class="expired">OSI Charity Gaming III</h3>
      <h6 class="expired">Held: October 22nd, 2012</h6>

        <div class="row">
          <div class="large-6 columns">
          <p>The third and final event from OSI, before transforming into ESI, was held on October 22, 2011.  This event was focused on Brawl and Melee with a side event for Smash 64.  With over 68 unique entrants between the three games and six brackets, OSI raised over $800 for charitable causes.  The three most impressive stats were the 33 entrants from Brawl singles, 30 from Melee singles, and an impressive 16 entrants for Smash 64 doubles, a game which at the time was 12 years old.  This momentum carried OSI through its transition into ESI, which consisted of hosting many variations of events and tournaments in order to raise charitable funds for noble causes.         </p>
        </div>
        <div class="large-6 columns">
          <%=image_tag('OSISmash3.jpg')%>
        </div>
      </div>

    </article>


    <hr />

    <article>

      <h3 class="expired">League of Legends Season 2 Finals Viewing Party</h3>
      <h6 class="expired">Held: October 13th, 2012</h6>
      <div class="row">
        <div class="large-6 columns">
      <p>To celebrate the end of Season 2 of League of Legends we hosted a viewing party for the Season 2 Championship Finals in the Great Hall Meeting Room of the Student Union. Rallying a crowd of more than 90 people, we gathered in anticipation as the final two teams Taipei Assassins and Azubu Frost battled it out for the million dollar grand prize.
          After many long games and hours of cheering on our parts, it was the Taipei Assassins that proved they were the stronger team and would be crowned the champions of season 2.
          </p>
          </div>
        <div class="large-6 columns">
          <%=image_tag('S2Finals.jpg')%>
        </div>
        </div>
      <p>Thanks to event support from the creators of League of Legends – Riot Games, we were pleased to be able to give away a ton of swag including Gangplank Oranges, League of Legends Lanyards, Teemo Hats, a Tibbers pillow, and a Baron Pillow, and more!
        During the night, many people passing by grew interested in our cheering, and a large group who had never played the game before joined us and began cheering with us too!
      </p>
    </article>



    <hr />

    <article>

      <h3 class="expired">OSI Charity Gaming II</h3>
      <h6 class="expired">Held: May 21st, 2011</h6>

      <div class="row">
        <div class="large-6 columns">
          <p>After OSI’s first event, planning began for the 2nd iteration of the series, expanding to the Nintendo 64 version, and Super Smash Bros. Brawl, as well as the original Melee tournament.  This tournament raised $435 and total attendance was estimated at around 50, with 37 entrants in singles and 10 teams between the Brawl and Melee events.  There were also 8 entrants for the nostalgic Super Smash Bros. 64 tournament.
          </p>
        </div>
        <div class="large-6 columns">
          <%=image_tag('OSISmash2.jpg')%>
        </div>
      </div>

    </article>


  <hr />

  <article>

    <h3 class="expired">OSI Charity Gaming I</h3>
    <h6 class="expired">Held: April 23rd, 2011</h6>

    <div class="row">
      <div class="large-6 columns">
        <p>Before E-Sports Initiative, there was the Ohio Smash Initiative. OSI held its first official event, a Super Smash Bros. Melee tournament, on April 23, 2011 in Great Hall Meeting Rooms 1 & 2. There were more than 80 total attendees, with 48 participating in the singles bracket, and there were 10 teams for doubles. The amount raised for OSI’s first event totaled to a fantastic $666.  Not only was this a great foundation to build off of for the organization, but it was also the 4th largest melee tournament in the nation for 2011. </p>
      </div>
      <div class="large-6 columns">
        <%=image_tag('OSISmask1.png')%>
      </div>
    </div>

  </article>
  </div>
  <!-- End Main Content -->


  <!-- Sidebar -->

  <aside class="large-3 columns">

    <h5>Categories</h5>
    <ul class="side-nav">
      <li><%= link_to "News", news_path%></li>
      <li><%= link_to "Charity", charity_path%></li>
      <li><%= link_to "Events", events_path%></li>
    </ul>


  </aside>

  <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->