<!DOCTYPE html>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">
    <hr />
    <article>

      <h3>ESI Autumn 2013 Starcraft 2 Tournament</h3>
      <h6>Posted: July 23rd, 2013; To Be Held: September 30th, 2013</h6>
      <div class="row">
        <div class="large-6 columns">
          <p>E-Sports Initiative will be hosting a StarCraft 2: Heart of the Swarm Tournament on Saturday, September 14th, at the Ohio Union inside the Cartoon Room. An online registration will be available soon and will run until Friday, Septemeber 13th at 6pm EST for $12. After this time you must show up in person between 9am and 11am on September 14th in the Cartoon Room and the fee will be $15. Spectators will be allowed in for a fee of $5.</p>
        </div>
        <div class="large-6 columns">
          <img src="http://placehold.it/400x240&text=[img]" />
        </div>
      </div>

    </article>

    <hr />

    <article>

      <h3>Halo 4 Charity Tournament</h3>
      <h6>January 26, 2013</h6>
      <div class="row">
        <div class="large-6 columns">
          <p>E-Sports Initiative hosted its very first Halo 4 event in the Great Hall Meeting Room of the Ohio Union.  There was tough competition and free food and drink for everyone involved.  Attendees received more than $500 of sponsored funds through giveaways and as prizes.  The proceeds of the tournament went to Child’s Play in order to help their efforts in improving the lives of children in over 70 hospitals worldwide.</p>
        </div>
        <div class="large-6 columns">
          <%=image_tag('Halo4Tourney.jpg')%>
        </div>
      </div>

    </article>

    <hr />

    <article>

      <h3>ESI Spring 2013 Starcraft 2 Tournament</h3>
      <h6>Marth 30th, 2013</h6>
      <div class="row">
        <div class="large-6 columns">
          <p>On March 30th, 2013, E-Sports Initiative hosted its
            first StarCraft 2 tournament with about 50 participating
            players along with another 50 spectators who came to
            support ESI and StarCraft 2.  Sponsors such as Razer,
            Major League Gaming (MLG), and iBuyPower also
            believed in our ability to create a high profile event
            and provided prizes which included a keyboard, headset,
            mouse, and a very high quality personal computer.
          </p>
        </div>
        <div class="large-6 columns">
          <img src="http://placehold.it/400x240&text=[img]" />
        </div>
      </div>

      <p>Due to the success of this tournament, E-Sports Initiative
        will definitely hold another StarCraft 2 Tournament during
        the Autumn Semester of 2013. </p>

    </article>

    <hr />

    <article>

      <h3>League of Buckeye Legends III Finals and LAN</h3>
      <h6>October 27th, 2012</h6>

      <div class="row">
        <div class="large-6 columns">
          <p>After long month of online group stages, the top 8 teams were brought in to Royer Hall for the live in-person finals for ESI’s third League of Legends Tournament. In addition to the tournament finals, we also hosted a large LAN party in the room next door, welcoming all gamers to join us for a day of fun, games, and food. Throughout the day, over 150 gamers joined us either to game with us or watch their friends in the tournament. Games played in the LAN included League of Legends, Starcraft 2, Dota 2, Super Smash Brothers, and more.
          </p>
        </div>
        <div class="large-6 columns">
          <img src="http://placehold.it/400x240&text=[img]" />
        </div>
      </div>

      <p>We also held free raffle drawings a few times an hour to giveaway an assortment of goodies to attendees, courtesy of Gamestop, Valve, Gunnar Optiks, and Riot Games. In an unprecedented move, Riot Games gave us an almost excessive bounty of swag to give away to lucky attendees: 60 Soraka Bananas, 30 Teemo Hats, and 3 Blitzcrank Hoodies!
      </p>

    </article>
    <hr />

    <article>

      <h3>Dota 2 Social</h3>
      <h6>November 17th, 2012</h6>

      <div class="row">
        <div class="large-6 columns">
          <p>To probe for interest, we hosted a Dota 2 social event for all enthusiasts and were pleasantly surprised when we were joined by more than 30 gamers! The night went by fast while we enjoyed ourselves in dota and many new friends were made.
            We were also able to have many giveaways, with everything culminating in a giveaway of a life-sized Portal Gun, courtesy of Valve.
          </p>
        </div>
        <div class="large-6 columns">
          <img src="http://placehold.it/400x240&text=[img]" />
        </div>
      </div>

    </article>

    <hr />

    <article>

      <h3>League of Buckeye Legends II Finals</h3>
      <h6>October 27th, 2012</h6>

      <div class="row">
        <div class="large-6 columns">
          <pAfter a grueling series of online matches, the 40 teams registered into the tournament were cut down into a remaining 8 through a succession of round robin matches. On the day of the live event, the finalists that made it through the group stages met up in the Student Union to duke it out for first place in ESI’s second League of Legends Tournament. Many great matches were played throughout the day, having been streamed to a big screen for friends and fans in a viewing room. As per usual, attendees at the live event took part in a free raffle giveaway for a variety of Riot swag, including but not limited to Soraka Bananas and Teemo Hats.
          </p>
        </div>
        <div class="large-6 columns">
          <img src="http://placehold.it/400x240&text=[img]" />
        </div>
      </div>

      <p>However, at the end of the day, only one team can claim the title of champion. We would like to congratulate the team Kony 2012 for managing to do just that, having unexpectedly turned the tables on all odds and won all matches the finals despite being one of the lower seeds. They have each walked away with an extra 20$ in RP in their in-game pockets, in addition to the shiny exclusive skin only available to winners of tournaments – Triumphant Ryze.</p>

    </article>



    <hr />

    <article>

      <h3>OSI Charity Gaming III</h3>
      <h6>October 22nd, 2012</h6>

      <div class="row">
        <div class="large-6 columns">
          <p>The third and final event from OSI, before transforming into ESI, was held on October 22, 2011.  This event was focused on Brawl and Melee with a side event for Smash 64.  With over 68 unique entrants between the three games and six brackets, OSI raised over $800 for charitable causes.  The three most impressive stats were the 33 entrants from Brawl singles, 30 from Melee singles, and an impressive 16 entrants for Smash 64 doubles, a game which at the time was 12 years old.  This momentum carried OSI through its transition into ESI, which consisted of hosting many variations of events and tournaments in order to raise charitable funds for noble causes.         </p>
        </div>
        <div class="large-6 columns">
          <%=image_tag('OSISmash3.jpg')%>
        </div>
      </div>

    </article>


    <hr />

    <article>

      <h3>League of Legends Season 2 Finals Viewing Party</h3>
      <h6>October 13th, 2012</h6>

      <div class="row">
        <div class="large-6 columns">
          <p>To celebrate the end of Season 2 of League of Legends we hosted a viewing party for the Season 2 Championship Finals in the Great Hall Meeting Room of the Student Union. Rallying a crowd of more than 90 people, we gathered in anticipation as the final two teams Taipei Assassins and Azubu Frost battled it out for the million dollar grand prize.
          After many long games and hours of cheering on our parts, it was the Taipei Assassins that proved they were the stronger team and would be crowned the champions of season 2.
          </p>
        </div>
        <div class="large-6 columns">
          <img src="http://placehold.it/400x240&text=[img]" />
        </div>
      </div>

      <p>Thanks to event support from the creators of League of Legends – Riot Games, we were pleased to be able to give away a ton of swag including Gangplank Oranges, League of Legends Lanyards, Teemo Hats, a Tibbers pillow, and a Baron Pillow, and more!
        During the night, many people passing by grew interested in our cheering, and a large group who had never played the game before joined us and began cheering with us too!
      </p>

    </article>



    <hr />

    <article>

      <h3>OSI Charity Gaming II</h3>
      <h6>May 21st, 2011</h6>

      <div class="row">
        <div class="large-6 columns">
          <p>After OSI’s first event, planning began for the 2nd iteration of the series, expanding to the Nintendo 64 version, and Super Smash Bros. Brawl, as well as the original Melee tournament.  This tournament raised $435 and total attendance was estimated at around 50, with 37 entrants in singles and 10 teams between the Brawl and Melee events.  There were also 8 entrants for the nostalgic Super Smash Bros. 64 tournament.
          </p>
        </div>
        <div class="large-6 columns">
          <%=image_tag('OSISmash2.jpg')%>
        </div>
      </div>

    </article>


  <hr />

  <article>

    <h3>OSI Charity Gaming I</h3>
    <h6>April 23rd, 2011</h6>

    <div class="row">
      <div class="large-6 columns">
        <p>Before E-Sports Initiative, there was the Ohio Smash Initiative. OSI held its first official event, a Super Smash Bros. Melee tournament, on April 23, 2011 in Great Hall Meeting Rooms 1 & 2. There were more than 80 total attendees, with 48 participating in the singles bracket, and there were 10 teams for doubles. The amount raised for OSI’s first event totaled to a fantastic $666.  Not only was this a great foundation to build off of for the organization, but it was also the 4th largest melee tournament in the nation for 2011. </p>
      </div>
      <div class="large-6 columns">
        <%=image_tag('OSISmask1.png')%>
      </div>
    </div>

  </article>
  </div>
  <!-- End Main Content -->


  <!-- Sidebar -->

  <aside class="large-3 columns">

    <h5>Categories</h5>
    <ul class="side-nav">
      <li><%= link_to "News", news_path%></li>
      <li><%= link_to "Charity", charity_path%></li>
      <li><%= link_to "Events", events_path%></li>
    </ul>


  </aside>

  <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->