<!DOCTYPE html>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">


    <hr />

    <article>

      <h3>Planetside 2 arrived at MLG Dallas With a Truckload of News</h3>
      <h6>3/22/2013</h6>

      <div class="row">
        <div class="large-6 columns">
          <p>MLG Dallas has come and gone, but it left something behind. Lead Designer Matt Higby dropped the long awaited details on the partnership between Major League Gaming and Planetside 2. Here are the main points that Matt shared in his recent interview at MLG:</p>
          <ul>
            <li>Outfits(Guilds for you classic MMO raiders) will compete against other outfits</li>
            <li>Matches will be 48 vs 48</li>
            <li>MLG is helping to create ladders ingame for Outfits to compete in</li>
            <li>There will be weekly tournaments, along with finals at MLG Championship events</li>
            <li>Custom maps will be made based on areas in the world for competition, but will not be available outside of a tournament scenario</li>
            <li>Some weapons will be restricted from use in competitive games to maintain balance.</li>
          </ul>
        </div>
        <div class="large-6 columns">
          <%=image_tag('NewsPlanetside2.jpg')%>
        </div>
      </div>
      <p>Matt provided a lot of answers to many questions that people have been wondering about since this partnership was announced back in January, but there are a few questions that have been raised since this news broke. Specifically,  How will any live event take place when the teams consists of 48 players? It is hard to see how any venue can hold that many players and computers, let alone find the floor space to make room for Planetside 2 along with its other gaming stations. One possible answer that I can think of to this would be that they would have a select number of players play live at an event, with the rest of the team supporting from home. Only time will tell as this game continues to rapidly evolve.</p>
      <p><a href="http://tv.majorleaguegaming.com/videos/100081-mlg-planetside-2-showcase-esports-announcements">Click here if you want to check out the video</a></p>    </article>

    <hr />

    <article>

      <h3>Planetside 2 at MLG Dallas</h3>
      <h6>3/14/2013</h6>

      <div class="row">
        <div class="large-6 columns">
          <p>The hype train has left the station as news about MLG Dallas is heading around the Internet. The Major League Gaming 2013 Pro Circuit Winter Championship will be heading to Dallas this weekend (March 16-17) to bring everyone some League of Legends, Starcraft II: Heart of the Swarm, and Call of Duty: Black Ops II action.</p>
          </div>
        <div class="large-6 columns">
          <%=image_tag('NewsPlanetside.jpg')%>
        </div>
      </div>
      <p>However, MLG will be bringing more than just another greatly anticipated esports event to Dallas. At MLG Dallas they plan on giving more details about its partnership with Sony Online Entertainment and Planetside 2. Not much has been announced so far from this partnership, outside from making it official, but they have come out to let everyone know that they will be displaying the official Planetside 2 gaming stations. This will give us a good glimpse of what is to come.</p>
      <p>It will be interesting to see how they bring this MMO style FPS to the esports scene. Team sizes, fighting areas, and rules are currently anyone’s guess. Therefore, it would be possible to see the standard 4v4 setup similar to other FPS games, or they could have teams with 8 to 13 players on each side. I look forward to seeing how this game will further develop and if it will push the envelope as another free to play, competitive, esports defining game.</p>
    </article>

    <hr />

    <article>

      <h3>The First Month of the New Ranked System</h3>
      <h6>3/6/2013</h6>

      <div class="row">
        <div class="large-6 columns">
          <p>The new ranking system in League of Legends has been active for almost a month now, and I have to say, this is quite possibly one of my favorite additions since returning in 2011 after a long hiatus. The new system feels extremely forgiving, while still providing a huge challenge if you wish to climb up the ladder. Click after the jump for my full impressions.</p>
        </div>
        <div class="large-6 columns">
          <%=image_tag('NewsNewRanked.jpg')%>
        </div>
      </div>

      <p>According to the new way the system seems to be operating, it only takes about 4-5 wins earn yourself a spot in a division series. This is assuming of course that you are on a hot streak and haven’t lost a game. However, once you hit 100 points you to begin your division series. This division series provides a great sense of accomplishment as your next 3 matches in the series  will truly test your metal. During these three matches you get one shot to prove you should advance, otherwise you are tossed back down to earn your spot at the top of your division again.</p>      <p>I found the jungle timers that these apps provide quickly becoming one of the most useful and my favorite features of these two apps. You always have easy access to them, so if you’re not coordinated enough to remember the exact spawn time (or unable to do quick addition with multidigit numbers at a moments notice — most of us aren’t), you can tap an icon on the app, and it will provide a countdown, along with an alert sound the moment jungle monsters, such as red or blue buff, or global objectives, such as Baron or dragon respawn. These timers even work for inhibitors — something I’ve yet to see someone keep track of (at least in a solo-queue game)!</p>
      <p>Once you climb through Division I of your tier, the new ranked system really begins to pay off. While in Division I of your tear you need to obtain 100 points to begin a Promotion series. When you get to this Promotion series you will face what I would consider the most stressful moments of your ranked career. You are pushed into a best of 5, which in my opinion gives you a greater feeling of importance for each game. This is your time to advance, this is your tournament game, this is your chance to earn a shiny new rank.</p>      </p>    <p>Which of these two apps you prefer will be completely up to you to decide, and relies mostly on personal aesthetic preferences. MobaDroid excels more on having a clean and sleek interface while LeagueDroid, though not as pretty, contains more features. However, both of these apps are definitely worth at least a test run since they both offer free ad-supported versions and a paid ad-free version. </p>
      <p>The most exciting part about the Promotion series is if you come to the moment where you have won two, and lost two matches. The last match you play in the series is quite possibly the most stressful game you can have in ranked. However, if you are skilled (and lucky enough) to win,  It is one of the best feelings you can get while playing ranked.      </p>
      <p>The old ranking system was never able to provide this type of excitement. What you had with the old system was a number which would fluctuate from time to time and give you the feeling that you are just spinning your tires in mud. This new system definitely brings a lot of life back into ranked and the game as a whole. I look forward to what other changes Riot will implement into League of Legends, but for now all I can say is kudos to you Riot, I tip my hat to you this day.      </p>
    </article>

    <hr />

    <article>

      <h3>LeagueDroid and MogaDroid: League of Legends Guides at your Fingertips</h3>
      <h6>02/15/2013</h6>

      <div class="row">
        <div class="large-6 columns">
          <p>As a League of Legends player, you may use different websites to obtain guides on different champions, be it Mobafire, SoloMid, CLGaming, or LoLPro. However, when you’re in a game playing as a new champion, you might not remember the items you want to buy, abilities you want to level up, or in both of those cases, which order! Even alt-tab could be costly to you and your team, even when you consider yourself “safe” in the company of your turret. Check out two apps for Android phones to help you out with this problems after the jump.</p>
        </div>
        <div class="large-6 columns">
          <%=image_tag('NewsLeagueDroid.jpg')%>
        </div>
      </div>

      <p>This dilemma is where two Android apps that have recently been brought to my attention shine — LeagueDroid, and MobaDroid. If you have an Android phone or tablet near you, you have a multitude of guides and other features available and easily accessible at all times.. Having these at your fingerprints allows you to keep your monitor focused on exactly where you need it, in case you need to respond to the game at a moment’s notice, while freshening up on your champion’s needs.</p>
      <p>I found the jungle timers that these apps provide quickly becoming one of the most useful and my favorite features of these two apps. You always have easy access to them, so if you’re not coordinated enough to remember the exact spawn time (or unable to do quick addition with multidigit numbers at a moments notice — most of us aren’t), you can tap an icon on the app, and it will provide a countdown, along with an alert sound the moment jungle monsters, such as red or blue buff, or global objectives, such as Baron or dragon respawn. These timers even work for inhibitors — something I’ve yet to see someone keep track of (at least in a solo-queue game)!</p>
      <p>One feature that really stuck out was a counter-pick option only on LeagueDroid. When selected, it brings up an easily accessible menu of champions that counter other champions. For example, if you are having issues with Garen, you could see that he is weak against Teemo and Yorick but strong against Riven and Jax. This can help bring you an even greater advantage during those tough nights of ranked solo-queue.</p>
      <p>Which of these two apps you prefer will be completely up to you to decide, and relies mostly on personal aesthetic preferences. MobaDroid excels more on having a clean and sleek interface while LeagueDroid, though not as pretty, contains more features. However, both of these apps are definitely worth at least a test run since they both offer free ad-supported versions and a paid ad-free version. </p>
    </article>

    <hr />



  </div>

  <!-- End Main Content -->


  <!-- Sidebar -->

  <aside class="large-3 columns">

    <h5>Categories</h5>
    <ul class="side-nav">
      <li><%= link_to "News", news_path%></li>
      <li><%= link_to "Charity", charity_path%></li>
      <li><%= link_to "Events", events_path%></li>
    </ul>
  </aside>

  <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->