<!DOCTYPE html>

<!-- Main Page Content and Sidebar -->
<body>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">

    <article>

      <h3>Sponsors</h3>


      <div class="row">
        <div class="large-9 columns">
          <p>
          <ul>
            <li><%=link_to image_tag('engLogo-web.png'), "http://osu.edu/engineering"%></li>
            <li><%=link_to image_tag('osu-logo.png'), "http://osu.edu"%></li>
            <li><%=link_to image_tag('gunnarLogo.jpg'), "http://gunnars.com"%>
            <li><%=link_to image_tag('valveLogo.jpg'), "http://valve.com"%></li>
            <li><%=link_to image_tag('razorLogo.jpg'), "http://razer.com"%></li>
            <li><%=link_to image_tag('canesLogo.jpg'), "http://raisingcanes.com"%></li>
          </ul>
          </p>


        </div>
      </div>

    </article>
    <article>

      <h3>Partners</h3>
      <div class ="row">
        <div class="large-9 columns">
          <li><%=link_to image_tag('nationwideLogo.jpg'), "http://nationwidechildrenshospital.org"%></li>
        </div>
      </div>

    </article>
    <article>

      <h3>Honorable Mentions</h3>
      <div class ="row">
        <div class="large-9 columns">
          <li><%=link_to image_tag('papaLogo.jpg'), "http://papajohns.com"%></li>
          <li><%=link_to image_tag('markpiLogo.gif'), "http://markpis.com"%></li>
          <li><%=link_to image_tag('donutsLogo.jpg'), "http://facebook.com/BuckeyeDonuts"%></li>
        </div>
      </div>

    </article>
</body>