<!DOCTYPE html>
<!-- Main Page Content and Sidebar -->
<body>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-12 columns" role="content">

    <article>

      <h3>Sponsors</h3>


      <div class="row">
        <div class="large-12 columns">
          <p>
          <table border ="1" cellpadding = "10">

            <tr><td><%=link_to image_tag('engLogo-web.png'), "http://osu.edu/engineering"%></td><td>FILLERFILLERFILLERFILLERFILLERFILLER</td></tr>
            <tr><td><%=link_to image_tag('osu-logo.png'), "http://osu.edu"%></td><td>FILLERFILLERFILLERFILLERFILLERFILLER</td></tr>
            <tr><td><%=link_to image_tag('gunnarLogo.jpg'), "http://gunnars.com"%></td><td>FILLERFILLERFILLERFILLERFILLERFILLERFILLER</td></tr>
            <tr><td><%=link_to image_tag('valveLogo.jpg'), "http://valve.com"%></td><td>FILLERFILLERFILLERFILLERFILLERFILLERFILLERFILLER</td></tr>
            <tr><td><%=link_to image_tag('razorLogo.jpg'), "http://razer.com"%></td><td>FILLERFILLERFILLERFILLERFILLER</td></tr>
            <tr><td><%=link_to image_tag('canesLogo.jpg'), "http://raisingcanes.com"%></td><td>FILLERFILLERFILLERFILLERFILLERFILLER</td></tr>
            <tr><td><%=link_to image_tag('papaLogo.jpg'), "http://papajohns.com"%></td><td>FILLERFILLERFILLERFILLERFILLERFILLER</td></tr>
            <tr><td><%=link_to image_tag('markpiLogo.gif'), "http://markpis.com"%></td><td>FILLERFILLERFILLERFILLERFILLERFILLER</td></tr>
            <tr><td><%=link_to image_tag('donutsLogo.jpg'), "http://facebook.com/BuckeyeDonuts"%></td><td>FILLERFILLERFILLERFILLER</td></tr>
           </table>
          </p>


        </div>
      </div>

    </article>
    <article>

      <h3>Partners</h3>
      <div class ="row">
        <div class="large-9 columns">
          <tr><%=link_to image_tag('nationwideLogo.jpg'), "http://www.nationwidechildrens.org/business-organization-foundation-benefactors"%></tr>
        </div>
      </div>

    </article>
</body>